<div id="about">
    <app-header></app-header>
    <div class="bj-about">
        <h1>ABOUT</h1>
    </div>
    <div class="bj-about-text">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 my-2 col-12">
                    <div class="about-box">
                        <h3>LOREM IPSUM DOLOR SIT AMET, CONSECTETUR.</h3>
                        <p>Lorem ipsum dolor sit ame consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a  as opposed to using packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 my-2 col-12">
                    <div class="bj-about-img">
                        <img src="https://static.standard.co.uk/s3fs-public/thumbnails/image/2017/10/02/14/the-gate-alacartespread.jpg?width=1000&height=614&fit=bounds&format=pjpg&auto=webp&quality=70&crop=16:9,offset-y0.5">
                    </div>
                </div>
            </div>
        </div>
    </div>
 
    <div class="bj-text-design">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-12 col-12">
                    <div class="about-text">
                        <h4>LOREM IPSUM DOLOR SIT</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="about-text">
                        <h4>LOREM IPSUM DOLOR SIT</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-12 col-12">
                    <div class="bj-image-border">
                        <img src="https://cdn.shortpixel.ai/client/q_glossy,ret_img,w_960/https://crepevine.com/wp-content/uploads/2019/03/Best-Restaurant-in-San-Rafael.jpeg">
                    </div>
                </div>
                <div class="col-lg-3 col-md-12 col-12">
                    <div class="about-text">
                        <h4>LOREM IPSUM DOLOR SIT</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                    <div class="about-text">
                        <h4>LOREM IPSUM DOLOR SIT</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit sed do eiusmod
    
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bj-about-background">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-12">
                    <div class="bj-text-list">
                        <h4>CRAFTED BY EXPERT CHEFS AND NUTRINISTS</h4>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit, sed do eiusmod
                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                            consequat. Duis aute irure
                            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <a href="#" class="about-btn">READOURFOODETHOS</a>
                    </div>
                </div>
    
                <div class="col-lg-5 col-md-6 col-12">
                    <div class="bj-image-height">
                        <img src="https://s3.ap-south-1.amazonaws.com/hsdreams1/pins/2019/05/big/75c5873cc61ae0d06a7193f48f38e0c0.jpeg">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- bj-about-background -->
    <!-- bj-about-slider -->
    <div class="bj-about-slider">
        <div class="container">
            <div class="carousel-wrap">
                <div class="owl-carousel">
                    <div class="item"><img src="https://lawrencegabrielfuneralhomes.com/site/wp-content/uploads/2018/04/food-1.jpg"></div>
                    <div class="item"><img src="https://i.hungrygowhere.com/rnr/food/194711/181786/Sa--1c3dc50ea6749dc0baddb31a4e160a8e_800x0_crop_800x800_3d18906b0a.jpg"></div>
                    <div class="item"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcT4VzaAdKfbVr1zBRkch0HrbsRH-kTLTVbd-DLejRqXgcz98JMO"></div>
                    <div class="item"><img src="https://burpple-1.imgix.net/foods/90227567569470ad861154102_original.?w=400&h=400&fit=crop&q=80&auto=format"></div>
    
                    <div class="item"><img src="https://cfcdn2.azsg.opensnap.com/azsg/snapphoto/photo/LO/H4OI/3DTACCC5B638F5D79570C2lv.jpg"></div>
    
                    <div class="item"><img src="https://149361674.v2.pressablecdn.com/wp-content/uploads/2017/10/Oh-Crab-Lah.jpg"></div>
    
                    <div class="item"><img src="https://spicysouthernkitchen.com/wp-content/uploads/strabwerry-fields-salad-15.jpg"></div>
    
                    <div class="item"><img src="https://pbs.twimg.com/media/Dhbmw70UEAcsqNU.jpg"></div>
                </div>
            </div>
        </div>
    </div>
    <!-- <app-review-slider></app-review-slider> -->
    <app-footer></app-footer>
</div>
    