<div id="welcome" fxLayout="column">
   
    <div fxLayout="column" class="title-area">
        <div fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="space-between center" class="header">
            <div class="logo">
                <a href="/index">
                    <img src="assets/images/home-page/logo.png">
                </a>
            </div>
            
            <div class="header-info" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="center center">
                <div class="email-text">
                    Get in Touch:
                    <a href="mailto:contact@companyname.com" class="email">
                        contact@companyname.com
                    </a>
                </div>
                <button mat-raised-button (click)="onLogin()" class="login-btn">Login</button>
                <div class="email-text1">  
                    Get in Touch:
                    <a href="mailto:contact@companyname.com" class="email">
                        contact@companyname.com
                    </a>
                </div>
            </div>
        </div>  
        <div class="title-background" class="title-background">
            <img src="assets/images/home-page/slider1.jpg" class="background-img">
        </div>
        <div class="title">
            <div class="title-div">
                <div class="skew-text tt-u">Exploring</div>
                <h1 class="tt-u">the world<br> with food</h1>
            </div>
        </div>
        <div>
            <img src="assets/images/home-page/banner-btm.png" class="btm-slide">
        </div>
        <app-search-area class="search"></app-search-area>
        <!-- <app-search-list></app-search-list> -->
      
    </div>  
    <mat-icon *ngIf="isLogging">
        <mat-spinner color="warn" diameter="20">
        </mat-spinner>
    </mat-icon>
    <div fxLayout="column" class="remmondation">
        <div fxLayout="row" fxLayoutAlign="space-between center" class="remmondation-text" fxLayout.xs="column" fxLayout.xs="column" fxLayoutAlign.xs="center start">
            <div class="text-left">
                Recommendations 
                <span class="text-line">for you</span>
            </div>
            <!-- <div class="cat-btn">
                <a href="/restaurantslist" class="cat-link">
                    Search Everywhere
                </a>
            </div> -->
        </div>
        <div class="remmondation-img" >
            <div *ngFor="let region of regions" class="restaurant"  (click)="onIndexRes(region)">
                <img src="{{region?.avatar}}" class="img">
                <div class="restaurant-gradiante">
                    <div class="restaurant-text">
                        <span class="location">{{region?.name}}</span><br>
                        <a href="/index" class="explore-btn">Explore</a>
                    </div>
                </div>
            </div>
            <!-- <div class="restaurant" (click)="onIndexRes(regions[1])">
                <img src="{{regions[1]?.avatar}}" class="img">
                <div class="restaurant-gradiante">
                    <div class="restaurant-text">
                        <span class="location">{{regions[1]?.name}}</span><br>
                        <a href="/index" class="explore-btn">Explore</a>
                    </div>
                </div>
            </div>
            
            <div class="restaurant" (click)="onIndexRes(regions[2])">
                <img src="{{regions[2]?.avatar}}" class="img">
                <div class="restaurant-gradiante">
                    <div class="restaurant-text">
                        <span class="location">{{regions[2]?.name}}</span><br>
                        <a href="/index" class="explore-btn">Explore</a>
                    </div>
                    
                </div>
            </div> -->
        </div>
    </div>  
    <!-- <button mat-raised-button class="popup-btn" (click)="onSearchSidebar()">Get IN Touch</button> -->
  
    <div  fxLayout="column" class="bule-sec">
        <div class="img-box" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.lt-md="column">
            <div class="bule-box" (click)="selectBooking=1">
                <img src="assets/images/home-page/img4.png">
                <div class="bule-text">
                    <h5 class="title">Lorem ipsum dolor sit</h5>
                    <p class="content-text">
                        Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit. Maecenas euismod, ex sed 
                        sollicitudin mollis, arcu erat rutrum sapien, 
                        ut facilisis mi leo eu enim.
                    </p>
                </div>
            </div>
            <div class="bule-box" (click)="selectBooking=2">
                <img src="assets/images/home-page/img5.png">
                <div class="bule-text">
                    <h5 class="title">Lorem ipsum dolor sit</h5>
                    <p class="content-text">
                        Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit. Maecenas euismod, ex sed 
                        sollicitudin mollis, arcu erat rutrum sapien, 
                        ut facilisis mi leo eu enim.
                    </p>
                </div>
            </div>
            <div class="bule-box" (click)="selectBooking=0">
                <img src="assets/images/home-page/img6.png">
                <div class="bule-text">
                    <h5 class="title">Lorem ipsum dolor sit</h5>
                    <p class="content-text">
                        Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit. Maecenas euismod, ex sed 
                        sollicitudin mollis, arcu erat rutrum sapien, 
                        ut facilisis mi leo eu enim.
                    </p>
                </div>
            </div>
        </div>
    </div>
   
    <div fxLayout="column" class="march-sec">
        <div fxLayout="row" fxLayoutAlign="space-between center"  class="march-sec-text" >
            <div class="text-left">
                MARCH 
                <span class="text-line">DEALS</span>
            </div>
            <!-- <div class="cat-btn">
                <a href="#" class="cat-link">
                    Search Everywhere
                </a>
            </div> -->
        </div>
        <div fxLayout="row" fxLayoutAlign="space-between center" class="march-sec-img" fxLayout.lt-md="column" fxLayoutAlign.lt-md="center center">
            <div class="restaurant" (click)="onSelectRes()">
                <img src="assets/images/home-page/img7.jpg" class="img">
                <div class="offer-sec">
                    <div>
                        50% off
                    </div>
                </div>
                <div class="restaurant-gradiante">
                    <div class="restaurant-text">
                        <strong class="name">Restaurant Name,</strong>
                        <span class="location">New York, NY, United States</span><br>
                        <a href="/index" class="explore-btn">Explore</a>
                    </div>
                </div>
            </div>
            <div class="restaurant" (click)="onSelectRes()">
                <img src="assets/images/home-page/img8.jpg" class="img">
                <div class="offer-sec">
                    <div>
                        20% off
                    </div>
                </div>
                <div class="restaurant-gradiante">
                    <div class="restaurant-text">
                        <strong class="name">Restaurant Name,</strong>
                        <span class="location">New York, NY, United States</span><br>
                        <a href="/index" class="explore-btn">Explore</a>
                    </div>
                </div>
            </div>
            <div class="restaurant" (click)="onSelectRes()">
                <img src="assets/images/home-page/img9.jpg" class="img">
                <div class="offer-sec">
                    <div>
                        50% off
                    </div>
                </div>
                <div class="restaurant-gradiante">
                    <div class="restaurant-text">
                        <strong class="name">Restaurant Name,</strong>
                        <span class="location">New York, NY, United States</span><br>
                        <a href="/index" class="explore-btn">Explore</a>
                    </div>
                </div>
            </div>
        </div>
    </div> 
    <div class="home-map">
        <div class="home-area">
            <div fxLayout="row" fxLayoutAlign="space-between center"  class="home-map-text">
                <div class="text-left">
                    <span class="text-line">BE</span>
                    INSPIRED
                </div>
                <div class="cat-btn">
                    <a href="#" class="cat-link">             
                        Explore our map
                    </a>
                </div>
            </div>
            <div class="map-sec">
                <app-map [flag]="true"></app-map>
            </div>
        </div>
    </div> 

    <div fxLayout="column" class="perfect-trip">
        <div class="perfect-trip-box">
            <div fxLayout="column" fxLayoutAlign="center start"  class="perfect-trip-text">
                <div class="text-left">
                    PLAN YOUR PERFECT TRIP 
                    <!-- <span class="text-line">DEALS</span> -->
                </div>
                <p class="no-padding">Search Flights, Hotels &amp; Car Hire to our most popular destinations</p>
            </div>
            <div class="wel-carousel">
                <div class="slides">
                         <div (click)="onSelectRes()" class="slideItem"><img src="assets/images/home-page/img10.jpg" alt="">
                            <div  class="black-bg2">
                                <div><p style="font-size: 16px;"><strong>Restaurant Name,</strong> <span>New York, NY, United States</span></p>
                                    <a href="/restaurants" class="explore-btn">Explore</a></div>
                                </div>
                            </div>
                            <div class="slideItem"><img src="assets/images/home-page/img11.jpg" alt="">
                            <div class="black-bg2">
                                <div><p style="font-size: 16px;"><strong>Restaurant Name,</strong> <span>New York, NY, United States</span></p>
                                    <a href="/restaurants" class="explore-btn">Explore</a></div>
                                </div>
                            </div>
                            <div class="slideItem"><img src="assets/images/home-page/img12.jpg" alt="">
                                <div class="black-bg2">
                                    <div><p style="font-size: 16px;"><strong>Restaurant Name,</strong> <span>New York, NY, United States</span></p>
                                        <a href="/restaurants" class="explore-btn">Explore</a></div>
                                    </div>
                                </div>
                                <div class="slideItem"><img src="assets/images/home-page/img10.jpg" alt="">
                                <div class="black-bg2">
                                    <div><p style="font-size: 16px;"><strong>Restaurant Name,</strong> <span>New York, NY, United States</span></p>
                                        <a href="/restaurants" class="explore-btn">Explore</a></div>
                                    </div>
                                </div>
                                <div class="slideItem"><img src="assets/images/home-page/img11.jpg" alt="">
                         <div class="black-bg2">
                         <div><p style="font-size: 16px;"><strong>Restaurant Name,</strong> <span>New York, NY, United States</span></p>
                            <a href="/restaurants" class="explore-btn">Explore</a></div>
                         </div>
                         </div>
                         <div class="slideItem"><img src="assets/images/home-page/img12.jpg" alt="">
                         <div class="black-bg2">
                         <div><p style="font-size: 16px;"><strong>Restaurant Name,</strong> <span>New York, NY, United States</span></p>
                            <a href="/restaurants" class="explore-btn">Explore</a></div>
                         </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div> 
    <app-footer></app-footer>
</div>