<div id="footer">
       
    <div class="ft-top">
        <div fxLayout="row" fxLayoutAlign="center start" fxLayout.lt-md="column" class="ft-top-content">
            <div fxLayout="row" fxFlex="75" fxLayoutAlign="start start" fxLayout.lt-md="column">
                <div fxLayout="row">
                    <div class="ft-box">
                        <h2 class="text-btm">Explore</h2>
                        <ul>
                            <li><a href="#">Cities</a></li>
                            <li><a href="#">City Breaks</a></li>
                            <li><a href="#">Airports</a></li>
                            <li><a href="#">Countries / Regions</a></li>
                            <li><a href="#">Airlines</a></li>
                            <li><a href="#">Flights</a></li>
                            <li><a href="#">Hotels</a></li>
                        </ul>
                    </div>
                    <div class="ft-box">
                        <div class="text-btm">Partners</div>
                        <ul>
                            <li><a href="#">Partners</a></li>
                            <li><a href="#">Work with us</a></li>
                            <li><a href="#">Advertise with us</a></li>
                            <li><a href="#">Travel Insight</a></li>
                            <li><a href="#">Affiliates</a></li>
                            <li><a href="#">Travel APIs</a></li>
                        </ul>
                    </div>
                </div>
                <div fxLayout="row">
                    <div class="ft-box">
                        <h2 class="text-btm">Company</h2>
                        <ul>
                            <li><a href="/about">About us</a></li>
                            <li><a href="#">Why Skyscanner?</a></li>
                            <li><a href="#">Media</a></li>
                            <li><a href="#">Our people</a></li>
                            <li><a href="#">Sustainability</a></li>
                            <li><a href="#">Brand story</a></li>
                            <li><a href="#">Company Details</a></li>
                            <li><a href="#">Jobs</a></li>
                        </ul>
                    </div>
                    <div class="ft-box">
                        <h2 class="text-btm">Help</h2>
                        <ul>
                            <li><a href="#">Help</a></li>
                            <li><a href="#">Privacy settings</a></li>
                            <li><a href="#">Security</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="ft-box" fxFlex="25">
                <ul>
                    <li><h5 class="text-btm">Subscribe Newsletter</h5></li>
                    <li><a href="#">Subscribe Newsletter</a></li>
                </ul>
                <div class="ft-form" fxLayout="column">
                        <input name="" type="text" class="submit-input">
                        <button mat-raised-button class="submit-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <div class="ft-bottom">
        <div class="ft-bottom-content" fxLayout="row" fxLayoutAlign="space-between center" fxLayout.xs="column">
            <div class="ft-left">
                <p>&copy; Kosher scanner Ltd  2020</p>
            </div>
            <div class="ft-right">
                <ul fxLayout="row">
                    <li><a href="#"><img src="assets/images/home-page/ft-social1.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/home-page/ft-social2.png" alt=""></a></li>
                    <li><a href="#"><img src="assets/images/home-page/ft-social3.png" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div> -->
</div>